@keyframes move {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-1700px);
  }
}
.roller{
  background-color: #004D43;
  font-size: 35vh;
  font-weight:900;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 30px;
}

.phoenix {
  animation: move 15s linear infinite;
}
.about {
  background-color: #cdea68;
  font-size: 1.9vw;
  color: black;
  border-radius: 30px;
  position: relative;
  top: -6vh;
  font-weight: 400;
}
.emphasis {
  text-decoration: underline;
}
.emphasis:hover {
  text-decoration: dotted;
}
.line {
  height: 1px;
}
.aboutbottomleft,
.aboutbottomright {
  font-size: 4vw;
}
.vera {
  font-size: 1.5vw;
}
.picc {
  width: 40vw;
}
.projects{
  color: black;
  position:relative;
  top:-6vh;
  font-size: 10vh;
}

