@keyframes move {
    0% {
        transform: translateX(0px);
    }
    100% {
      transform: translateX(-1700px);
    }
  }
  
  .phoenix {
    animation: move 15s linear infinite;
  }
  .about{
    background-color: #CDEA68;
    font-size:3vw ;
    color:black;
    border-radius: 30px;
    position: relative;
    top:-3vh;
    font-weight:400;
  }
  .emphasis{
    text-decoration: underline;
  }
  .emphasis:hover{
    text-decoration:dotted;
  }
  .line{
    height:1px
  }
  .aboutbottomleft,.aboutbottomright{
    font-size: 2vw;
  }
  .vera{
    font-size: 1.7vw;
  }
  .picc{
    width:40vw;
    
  }